# Credit Risk Evaluator

In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split

## Retrieve the Data

The data is located in the Challenge Files Folder:

* `lending_data.csv`

Import the data using Pandas. Display the resulting dataframe to confirm the import was successful.

In [3]:
# Import the data
df=pd.read_csv('Resources/lending_data.csv')
df.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

In [4]:
df.dtypes

loan_size           float64
interest_rate       float64
borrower_income       int64
debt_to_income      float64
num_of_accounts       int64
derogatory_marks      int64
total_debt            int64
loan_status           int64
dtype: object

In [8]:
df.isnull().sum()
df.duplicated()
df=df.drop_duplicates()

In [9]:
df[df.duplicated()]

Empty DataFrame
Columns: [loan_size, interest_rate, borrower_income, debt_to_income, num_of_accounts, derogatory_marks, total_debt, loan_status]
Index: []

In [10]:
df.shape

(5229, 8)

In [13]:
df.nunique()

loan_size            182
interest_rate       4692
borrower_income      662
debt_to_income       662
num_of_accounts       17
derogatory_marks       4
total_debt           662
loan_status            2
dtype: int64

In [14]:
df['derogatory_marks'].value_counts()

0    1896
2    1506
1    1427
3     400
Name: derogatory_marks, dtype: int64

In [15]:
df['loan_status'].value_counts()

0    3653
1    1576
Name: loan_status, dtype: int64

## Predict Model Performance

You will be creating and comparing two models on this data: a Logistic Regression, and a Random Forests Classifier. Before you create, fit, and score the models, make a prediction as to which model you think will perform better. You do not need to be correct! 

Write down your prediction in the designated cells in your Jupyter Notebook, and provide justification for your educated guess.

In [ ]:
# Write down your prediction in the designated cells in your Jupyter Notebook, and provide justification for your educated guess.
I predict the random forest algorithim will work. I feel like having multiple outcomes will help with a more accurate prediction.

## Split the Data into Training and Testing Sets

In [17]:
# Split the data into X_train, X_test, y_train, y_test
y=df['loan_status']
X=df.drop(columns=['loan_status'])
X_train, X_test, y_train, y_test = train_test_split(X, y)
X_train.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
4376,7100.0,6.162,38600,0.222798,1,0,8600
155,9600.0,7.222,48600,0.382716,4,0,18600
6264,12600.0,8.462,60200,0.501661,6,1,30200
3173,10600.0,7.642,52500,0.428571,5,1,22500
76684,17500.0,10.579,80200,0.625935,11,2,50200

## Create, Fit and Compare Models

Create a Logistic Regression model, fit it to the data, and print the model's score. Do the same for a Random Forest Classifier. You may choose any starting hyperparameters you like. 

Which model performed better? How does that compare to your prediction? Write down your results and thoughts in the designated markdown cell.

In [18]:
# Train a Logistic Regression model and print the model score
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(random_state=0).fit(X_train, y_train)
clf.score(X_test, y_test)

0.8960244648318043

In [19]:
# Train a Random Forest Classifier model and print the model score
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(random_state=0)
clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.863914373088685

In [ ]:
# Which model performed better? How does that compare to your prediction? 
The Logistic Regression model performed better. The score is 0.89. This model is better to use because it analyzes the relationship between one or more existing variables.